@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    max-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;   
    background-color: #1f2937;
    padding: 0 10%;
    padding-top: 1em;
}

header, .hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    display: flex;
    gap: 1em;
}

a, .secondary-text {
    color: #e5e7eb;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.hero {
    padding: 10em 0;
    column-gap: 100px;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    margin: 10px 0;
}

button {
    background-color: #3882f6;
    padding: .3em 1em;
    border-radius: .3em;
    border: none;
}

img {
    width: 400px;
    height: 200px;
    border-radius: 1em;
    border: 5px solid #555;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 1em 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.container div div {
    border: 4px solid #3882f6;
    border-radius: 10px;
    height: 175px;
    width: 175px;
}

.container .item {
    width: 175px;
}

.container p {
    margin: 10px 5px;
}
.quote-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 7.5% 25%;
    background-color: #e5e7eb;
    margin: 5em 0;
}

/*font-weight: 300; doesn't seem to display correctly*/
.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.signature {
    font-weight: 700;
    font-size: 22px;
}

.sign-up-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20% 5em;
    border-radius: .2em;
    padding: 2em;
    color: #f9faf8;
}

.sign-up-headline {
    font-weight: 700;
}

.sign-up-information {
    font-size: 14px;
}

.sign-up-button {
    border: 2px solid #f9faf8;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
@media only screen and (max-width: 800px) {
    * {
        max-height: none;

    }
    img {
        display: none;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .quote-container {
        padding: 5em 2em;
    }
}